
.app.window-app.imageoptions .imagecontainerbox{
    height:auto;
    
}

.app.window-app.imageoptions #imagelister{
    display: flex;
    overflow-x: scroll;
    height:80wh;
    
 
}

.app.window-app.imageoptions #newtitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
    
 
}

.app.window-app.imageoptions button{
    margin: 3px;
    
 
}

.imageboxborder{
    max-height: 500px;
    max-height: 500px;
    max-width: 30%;
    min-width: 30%;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.newimagebox{
    min-width: 100%;
    background-color: rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
}

.newimagebox.selected{
    background-color: rgba(50, 175, 50, 0.5);
}

.newimagebox img{
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.newimagebox .imagetitle{
   text-align: center;
   overflow-wrap: break-word;
   margin:5px;
    
}

.newimagebox .imagematch{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    
}